<template name="loginRestaurants">
    <div class="home-restaurant">
        <!-- <img src="/images/background-home-restaurant.jpg" alt="" /> -->
        <div class="loginmodal-container">
    			<h1>Inicio de sesión</h1><br>
    		  <form>
      			<input type="text" name="email" placeholder="Username" class="form-control">
      			<input type="password" name="pass" placeholder="Password" class="form-control">
      			<input type="submit" name="login" class="login loginmodal-submit" value="Iniciar sesión">
    		  </form>

    		  <div class="login-help">
    			<a href="#">Register</a> - <a href="#">Forgot Password</a>
    		  </div>
    		</div>
    </div>
</template>
