<template name="registerRestaurant">
    <div class="home-restaurant">
      <div class="container">
        <div class="jumbotron">
          <h2 style="font-size: 35px; text-decoration: underline; text-align: center;">Registro de restaurantes</h2>
          <br>
          <form class="" action="index.html" method="post">
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="">Nombres</label>
                          <input class="form-control" type="text" name="name" placeholder="Nombres" value="">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="">Apellidos</label>
                          <input class="form-control" type="text" name="lastname" placeholder="Apellidos" value="">
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="">Email</label>
                          <input class="form-control" type="text" name="email" placeholder="Email" value="">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="">DNI/RUC</label>
                          <input class="form-control" type="text" name="idcard" placeholder="DNI/RUC" value="">
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="">Contraseña</label>
                          <input type="password" class="form-control" name="password" placeholder="Contraseña" value="">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="">Confirmar contraseña</label>
                          <input type="password" class="form-control" name="" placeholder="Confirmacion de contraseña" value="">
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="">Nombre del restaurante</label>
                          <input type="text" class="form-control" name="title" placeholder="Nombre del restaurante" value="">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="">Direccion</label>
                          <input type="text" class="form-control" name="address" placeholder="Direccion" value="">
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="">Telefono</label>
                          <input type="text" class="form-control" name="phone" placeholder="Telefono" value="">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="">Celular</label>
                          <input type="text" class="form-control" name="celphone" placeholder="Celular" value="">
                      </div>
                  </div>
              </div>
              <div class="row">

              </div>
              <div class="row">
                  <div class="col-md-3 col-md-push-5">
                      <input class="btn btn-primary" type="submit" value="Registrar"/>
                  </div>
              </div>
          </form>
        </div>
      </div>
    </div>
</template>
