<template name="loginClient">
    <div id="loginModal" role="dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="background: #e60000;">
            <button type="button" data-dismiss="modal" class="close" style="color: white;">X</button>
            <h4 class="modal-title" style="color: white;">Iniciar sesión</h4>
          </div>
          <div class="modal-body">
            <form id="login-form">
              <div class="form-group">
                <input type="text" placeholder="Email" name="email" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" placeholder="Contraseña" name="password" class="form-control">
              </div>
              <div class="form-group" style="text-align:right; margin-bottom: 0px;">
                <input id="login-button" type="submit" value="Ingresar" class="input-xlarge btn btn-success">
              </div>
            </form>
          </div>
          <!-- <div class="modal-footer"></div> -->
        </div>
      </div>
    </div>
</template>
