<template name="dish">
    <div class="row">
        <div class="col-lg-3">
            <img src="" alt="" />
        </div>
        <div class="col-lg-9">
            <p class="name">
                {{this.name}}
            </p>
            <p class="type">
                {{this.type}}
            </p>
            <p class="price">
                S/. {{this.price}}
            </p>
            <p class="score">
                {{this.score}}
            </p>
        </div>
    </div>
</template>
