<template name="dish">
    <div class="row">
        <div class="col-lg-4">
            <img src="" alt="" />
        </div>
        <div class="col-lg-4">
            <p class="name">
                {{this.name}}
            </p>
            <p class="type">
                {{this.type}}
            </p>
            <p class="price">
                S/. {{this.price}}
            </p>
            <p class="score">
                {{this.score}}
            </p>
        </div>
        <div class="col-lg-2">
            <input class="form-control" type="number" name="quantity" value="">
        </div>
        <div class="col-lg-2">
            <button  type="button" data-id="{{id}}" class="btn btn-primary make-order"  name="button">Añadir a la orden</button>
        </div>
    </div>
</template>
