<template name="adminListDishes">
    <br>
    <div>
        <a href="#" class="btn btn-primary agregar-plato">Nuevo</a>
    </div>

    <table class="table" style="margin-top:20px">
        <thead>
            <tr>
                <th>
                    Imagen
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Precio
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each dishes}}
                <tr>
                    <td>
                        {{this.image}}
                    </td>
                    <td>
                        {{this.name}}
                    </td>
                    <td>
                        {{this.type}}
                    </td>
                    <td>
                        S/. {{this.price}}
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</template>
