<template name="listOrdersClient">
    <br>
    <br>
    <div class="container">
        <h1>Mi orden</h1>
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="text-align:center; background: #990000; color:white;">
                        Foto
                    </th>
                    <th style="text-align:center; background: #990000; color:white;">
                        Nombre
                    </th>
                    <th style="text-align:center; background: #990000; color:white;">
                        Cantidad
                    </th>
                    <th style="text-align:center; background: #990000; color:white;">
                        Precio
                    </th>
                    <th style="text-align:center; background: #990000; color:white;">
                        Subtotal
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each orderDishes}}
                <tr>
                    <td style="text-align:center">
                        <img src="" alt="" />
                    </td>
                    <td style="text-align:center">
                        <h2 class="texto-orden">
                            {{this.name}}
                        </h2>
                    </td >
                    <td style="text-align:center">
                        <h2 class="quantity texto-orden">
                            {{this.quantity}} u
                        </h2>
                    </td>
                    <td style="text-align:center">
                        <h2 class="price texto-orden">
                            S/. {{this.price}}
                        </h2>
                    </td>
                    <td style="text-align:center">
                        <h2 class="texto-orden">
                            S/. {{subtotal}}
                        </h2>
                    </td>
                </tr>
                {{/each}}
                <tr>
                    <td colspan="4">
                        <h2 class="texto-orden">
                            Total
                        </h2>
                    </td>
                    <td style="text-align:center">
                        <h2 class="texto-orden">
                            S/. {{total}}
                        </h2>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="">
            <a class="btn make-order" href="#" style="background: #e60000; color: white;">Realizar el pedido</a>
        </div>
    </div>
</template>
