<template name="mainComponent">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><a href="#" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-danger"><span class="bs-badge badge-absolute">1</span>
            <div class="tile-header">Reach</div>
            <div class="tile-content-wrapper"><i class="glyph-icon icon-file-photo-o"></i></div></a></div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><a href="#" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-success">
            <div class="tile-header">Comments</div>
            <div class="tile-content-wrapper"><i class="glyph-icon icon-desktop"></i></div></a></div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><a href="#" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-info"><span class="bs-badge badge-absolute">2</span>
            <div class="tile-header">Reviews</div>
            <div class="tile-content-wrapper"><i class="glyph-icon icon-download"></i></div></a></div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><a href="#" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-warning">
            <div class="tile-header">Visitors</div>
            <div class="tile-content-wrapper"><i class="glyph-icon icon-code-fork"></i></div></a></div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <h2 style="padding-left: 10px; font-family: Montserrat;">LISTA DE ÓRDENES
      <i class="glyphicon glyphicon-cutlery"></i>
    </h2>
    <br>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-top: 10px; padding-bottom: 10px;">
      <div class="row orders">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <h2 style="color: white;">P-001</h2>
          <br>
          <h4 style="color: white;">Andrés Rodríguez</h4>
          <h4 style="color: white;">17-07-2016</h4>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-bottom: 0px;">
          <h2 style="color: white;">18</h2>
          <h4 class="precio" style="color: white;">S/. 10.00</h4>
          <button type="button" name="button" class="btn btn-default" data-toggle="modal" data-target="#detalles">Detalles</button>
          <button type="button" name="button" class="btn btn-default" data-toggle="modal" data-target="#asignar">Asignar</button>

          <div id="detalles" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header" style="background: #3e4855;">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title" style="color: white;">Detalles del pedido</h4>
                </div>
                <div class="modal-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Nombre del plato</th>
                        <th>Tipo</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>

            </div>
          </div>
          <div id="asignar" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header" style="background: #3e4855;">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title" style="color: white;">Seleccione su colaborador</h4>
                </div>
                <div class="modal-body">
                  <select class="form-control" name="">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
                <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div> -->
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-top: 10px; padding-bottom: 10px;">
      <div class="row orders">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <h2 style="color: white;">P-001</h2>
          <br>
          <h4 style="color: white;">Andrés Rodríguez</h4>
          <h4 style="color: white;">17-07-2016</h4>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-bottom: 0px;">
          <h2 style="color: white;">18</h2>
          <h4 class="precio" style="color: white;">S/. 10.00</h4>
          <button type="button" name="button" class="btn btn-default" data-toggle="modal" data-target="#detalles">Detalles</button>
          <button type="button" name="button" class="btn btn-default" data-toggle="modal" data-target="#asignar">Asignar</button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-top: 10px; padding-bottom: 10px;">
      <div class="row orders">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <h2 style="color: white;">P-001</h2>
          <br>
          <h4 style="color: white;">Andrés Rodríguez</h4>
          <h4 style="color: white;">17-07-2016</h4>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-bottom: 0px;">
          <h2 style="color: white;">18</h2>
          <h4 class="precio" style="color: white;">S/. 10.00</h4>
          <button type="button" name="button" class="btn btn-default" data-toggle="modal" data-target="#detalles">Detalles</button>
          <button type="button" name="button" class="btn btn-default" data-toggle="modal" data-target="#asignar">Asignar</button>
        </div>
      </div>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-top: 10px; padding-bottom: 10px;">
      <div class="row orders">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <h2 style="color: white;">P-001</h2>
          <br>
          <h4 style="color: white;">Andrés Rodríguez</h4>
          <h4 style="color: white;">17-07-2016</h4>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-bottom: 0px;">
          <h2 style="color: white;">18</h2>
          <h4 class="precio" style="color: white;">S/. 10.00</h4>
          <button type="button" name="button" class="btn btn-default" data-toggle="modal" data-target="#detalles">Detalles</button>
          <button type="button" name="button" class="btn btn-default" data-toggle="modal" data-target="#asignar">Asignar</button>
        </div>
      </div>
    </div>
  </div>

</template>
