<template name="adminListCollaborators">
        <br>
        <div>
            <a href="#" class="btn btn-primary agregar-colaborador">Nuevo</a>
        </div>

        <table class="table" style="margin-top:20px">
            <thead>
                <tr>
                    <th>
                        DNI
                    </th>
                    <th>
                        Nombres y apellidos
                    </th>
                    <th>
                        Telefonos
                    </th>
                    <th>
                        Correo
                    </th>
                    <th>
                        Direccion
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each collaborators}}
                    <tr>
                        <td>
                            {{this.profile.dni}}
                        </td>
                        <td>
                            {{this.profile.name}} {{this.profile.lastname}}
                        </td>
                        <td>
                            {{this.profile.phone}}
                        </td>
                        <td>
                            {{email}}
                        </td>
                        <td>
                            {{this.profile.address}}
                        </td>
                        <td>
                            <a href="#" class="btn btn-primary">Editar</a>
                            <a href="#" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
</template>
