<template name="searcher">
    <div class="container">
        <form action="" method="GET" class="form-inline">
            <select name="type" class="form-control">
                <option value="restaurant">Restaurantes</option>
                <option value="comidas">Comidas</option>
            </select>
            <input type="text" name="name" placeholder="Buscar.." class="form-control">
            <input type="submit" value="Buscar" class="btn btn-success">
        </form>
    </div>
</template>
