<template name="navigation">
    <nav class="navbar" style="margin-bottom: 0px; background: #3c362f; border-color: #3c362f;">
      <div class="container-fluid">
        <div style="margin-left:0px; margin-right:0px;">
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4" style="padding-left: 0px; padding-right: 0px; text-align: left; margin-bottom: 0px;">
                    <img src="/images/logo_rest_del2.png" width="160" height="100">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8" style="padding-left: 0px; padding-right: 0px; text-align: right; padding-top: 30px;">
                    {{#if isLogged  }}
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" style="background: #b32d00; color: white;">
                              <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ name }}
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="/logout" class="logout-btn">Cerrar sesión</a></li>
                            </ul>
                        </div>
                        &nbsp;&nbsp;<a href="/miorden" style="color:white; cursor: pointer;"> <i class="glyphicon glyphicon-shopping-cart"></i>  {{nroOrders}}</a>
                    {{else}}
                        <button href="#" class="btn login-btn" style="background: #e60000; border-color: #e60000; color: white;">Iniciar sesión</button>
                        <!-- <a href="/registro" class="btn btn-primary" style="background: #990000; border-color: #990000;">Registro</a> -->
                        <button href="#" class="btn register-btn" style="background: #990000; border-color: #990000; color: white;">Registro</button>
                    {{/if}}

                </div>
            </div>
        </div>
      </div>
    </nav>
</template>
