<template name="navigation">
    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
            {{#if isLogged  }}
                <span style="color:white;"> </span><span style="color:white;">{{ name }} </span>
                <button href="/logout" class="btn btn-primary navbar-btn logout-btn">Cerrar sesión</button>
            {{else}}
                <button href="#" class="btn btn-primary login-btn">Iniciar sesión</button>
                <a href="/registro" class="btn btn-primary">Registro</a>
            {{/if}}
        </div>
      </div>
    </nav>
</template>
